* {
    font-family: 'Lato', sans-serif;
}

html{
    overflow-x: hidden;
}
body a:hover {
    text-decoration: none;
}


.top-elements {
    list-style-type: none;
    text-align: center;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.top-elements #hover-menu,
#hover-menu-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px 17px 10px;
}

.top-elements li i {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-bottom: 5px;

}

.top-elements li .icons {
    width: 23px;
    height: 23px;
    opacity: 0.5;
}

.dropdown-content {
    top: 4.5rem;
    position: fixed;
    left: 0;
    right: 0;
    visibility: hidden;
    min-width: 100%;
    z-index: 1;
}

.dropdown-content .content {
    background-color: #262a32;
    padding: 50px 50px 20px 45px;
}

.dropdown-content p {
    color: #ffffff;
    text-align: left;
}

.content header {
    padding-bottom: 2.5rem;
    width: 155px;
    height: 11px;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-transform: uppercase;

}

.dropdown:hover .dropdown-content {
    /* display: block; */
    visibility: visible;
}

.content-links {
    padding-left: 0px;
}

.content-links li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    color: white;
    padding-bottom: 0.75rem;
}

.content-links li a {
    color: white;
}

.carousel-caption {
    top: 10%;
    bottom: auto;
}


.footer {
    margin-top: 50px;
}

.footer a {
    color: black;
    opacity: .5;
}

.popular-items .card-deck {
    margin-right: 14px;
    margin-left: 14px;
}

.popular-items .card {
    background-color: #262a32;
}

.popular-items .card-body {
    background-color: white;
    border-bottom-left-radius: calc(0.25rem - 1px);
    border-bottom-right-radius: calc(0.25rem - 1px);
}

.hover-buttons {
    display: none;
    justify-content: center;
    text-align: center;
}

.hover-buttons .col {
    padding-top: 35%;
}

.popular-items .card:hover .hover-buttons {
    visibility: visible;
    background: linear-gradient(to top, rgba(28, 193, 103, .8), rgba(46, 211, 162, .8));
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: calc(0.25rem - 1px);
}

.popular-items .container .items {
    display: none;
}

.popular-items .container .items:nth-child(1),
.popular-items .container .items:nth-child(2) {
    display: flex;
}


.popular-items .btn {
    border-radius: 100%;
    border: none;
    color: white;
    font-size: 86px;
    cursor: pointer;
}

.banner {
    width: 100%;
    justify-content: center;
    text-align: center;
    position: relative;
    display: inline-block;
    padding-bottom: 50px;
}

.banner img {
    width: 100%;
    max-width: 100%;
    height: auto;
}


.banner h1 {
    position: absolute;
    top: 35%;
    width: inherit;
    color: white;
}

.banner p {
    position: absolute;
    top: 55%;
    width: inherit;
    color: white;
}

.featured-products {
    text-align: center;

}

.static-content {
    justify-content: center;
    text-align: center;
    width: auto;
    background-color: #45413e;
    height: auto;
}

.static-content .col {
    padding: 25px 10px 10px 10px;
    justify-content: center;
    text-align: center;
    width: auto;
    height: auto;
}

.featured-slider {
    justify-content: center;
    text-align: center;
    width: 100%;
    height: auto;
    display: flex;

}

.swiper {

    text-align: center;
    justify-content: space-around;
    width: 100%;
    height: auto;
}



.swiper-button-prev,
.swiper-button-next {
    color: white !important;
    top: 13% !important;
    padding: 0px 110px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    font-size: larger !important;
}

.swiper-slide .row .col {
    justify-content: center;
    display: flex;
}

.product {
    max-width: 270px;
    max-height: 310px;
}


.oops {
    height: auto;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    background-color: white;

}

.colors {
    height: 19px;
    width: 19px;
    border-radius: 100%;
    margin: 16px;
}

.image-gallery {
    margin: 0 auto;
    display: table;
}

.primary,
.thumbnails {
    display: table-cell;
}

.thumbnails {
    width: 300px;
}

.primary {
    min-width: 300px;
    min-height: 200px;
    width: 600px;
    height: 665px;
    background-color: #cccccc;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.thumbnail:hover .thumbnail-image,
.selected .thumbnail-image {
    border: 2px solid red;
    opacity: 1;
}

.thumbnail-image {
    width: 100px;
    height: 100px;
    margin: 20px 15px;
    background-size: cover;
    background-repeat: no-repeat;
    border: 4px solid white;
    opacity: .5;
}

.thumbnail {
    border: none !important;
}

.custom-badge {
    top:5px;
    right: 5px;
    background-color: white !important;
    color: #84bc22;
    border: 1px solid #84bc22;
    visibility: hidden;
}

#more {
    display: none;
}

#other-page-hover p a:hover {
    color: #262a32 !important;
}

#lined-text {
    text-align: center;
}

#lined-text p {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    line-height: 0.1em;
}

#lined-text span {
    background: #262a32;
    padding: 0 10px;
}

#lined-404 {

    text-align: center;
}

#lined-404 p {

    font-size: 48px;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid rgba(70, 70, 70, 0.5);
    line-height: 0.1em;

}

#lined-404 span {
    background: #f1edea;
    padding: 0 10px;
}

#lined-services {

    text-align: center;
}

#lined-services p {

    font-size: 48px;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid white;
    line-height: 0.1em;

}

#lined-services span {
    background: #f1edea;
    padding: 0 10px;
}

#lined-slash {
    text-align: center;
}

#lined-slash p {

    font-size: 48px;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid white;
    line-height: 0.1em;

}



#lined-slash span {
    background: #262a32;
    padding: 0 10px;
}

#services-body {
    background-color: #262a32;
    width: 100%;
    left: 0;
    right: 0;
}

#navigation {
    display: flex;
    width: 1498px, auto;
    height: 177px, auto;
    background-color: #ffffff;
    padding: 0% 0% 0% 5%;
}


#hover-menu:hover {
    background-color: #262a32;
    color: #ffffff !important;
    border-bottom: 4px solid #84bc22;
}

#hover-menu-icon:hover {
    background-color: #dddddd;
    color: #ffffff !important;
    border-bottom: 4px solid #84bc22;
}


#logo {
    width: 147px;
    height: 65px;
}

#services-top p {
    padding-top: 13px;
}

#services-top .col {
    padding-top: 18px;
}


@font-face {
    font-family: "Lato";
    src: url('698242188-Lato-Bla.eot');
    src: url('698242188-Lato-Bla.eot?#iefix') format('embedded-opentype'),
        url('698242188-Lato-Bla.svg#Lato Black') format('svg'),
        url('698242188-Lato-Bla.woff') format('woff'),
        url('698242188-Lato-Bla.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}