body {
    font-family: 'Lato', sans-serif;
}


.top-elements {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0 100px 0 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.top-elements #hover-menu,
#hover-menu-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px 17px 10px;
}

.top-elements li i {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-bottom: 5px;

}

.top-elements li .icons {
    width: 23px;
    height: 23px;
    opacity: 0.5;
}

.dropdown-content {
    top: 4.5rem;
    position: fixed;
    left: 0;
    right: 0;
    visibility: hidden;
    min-width: 100%;
    z-index: 1;
}

.dropdown-content .content {
    background-color: #262a32;
    padding: 50px 50px 20px 45px;
}

.dropdown-content p {
    color: #ffffff;
    text-align: left;
}

.content header {
    padding-bottom: 2.5rem;
    width: 155px;
    height: 11px;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-transform: uppercase;

}

.dropdown:hover .dropdown-content {
    /* display: block; */
    visibility: visible;
}

.content-links {
    padding-left: 0px;
}

.content-links li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    color: white;
    padding-bottom: 0.75rem;
}

.content-links li a {
    color: white;
}

.carousel-caption {
    top: 10%;
    bottom: auto;
}



.footer a {
    color: black;
}

.popular-items .card-deck{
    margin-right: 14px;
    margin-left: 14px;
}

.popular-items .card {
    background-color: #262a32;
}

.popular-items .card-body {
    background-color: white;
    border-bottom-left-radius: calc(0.25rem - 1px);
    border-bottom-right-radius: calc(0.25rem - 1px);
}


#lined-text {
    text-align: center;
}

#lined-text p {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    line-height: 0.1em;
}

#lined-text span {
    background: #262a32;
    padding: 0 10px;
}

#services-body {
    background-color: #262a32;
    width: 100%;
    left: 0;
    right: 0;
}

#navigation {
    display: flex;
    width: 1498px, auto;
    height: 177px, auto;
    background-color: #ffffff;
    padding: 0% 0% 0% 5%;
}


#hover-menu:hover {
    background-color: #262a32;
    color: #ffffff !important;
    border-bottom: 4px solid #84bc22;
}

#hover-menu-icon:hover {
    background-color: #dddddd;
    color: #ffffff !important;
    border-bottom: 4px solid #84bc22;
}


#logo {
    width: 147px;
    height: 65px;
}


@font-face {
    font-family: "Lato";
    src: url('698242188-Lato-Bla.eot');
    src: url('698242188-Lato-Bla.eot?#iefix') format('embedded-opentype'),
        url('698242188-Lato-Bla.svg#Lato Black') format('svg'),
        url('698242188-Lato-Bla.woff') format('woff'),
        url('698242188-Lato-Bla.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}